@model object
@{
    Layout = null;
    string propertyExpression = ViewBag.PropertyName;
    string containerClass = ViewBag.ContainerClass;

    RouteValueDictionary htmlAttributes = SharedTemplatesHelper.MargeClass(ViewBag);
    //if (!htmlAttributes.Any(q => q.Value.ToString().Contains("col-")))
    //{
    //    if (htmlAttributes.Keys.Contains("class"))
    //    {
    //        htmlAttributes["class"] += " col-xs-9";
    //    }
    //    else
    //    {
    //        htmlAttributes.Add("class", "col-xs-9");
    //    }
    //}
    //if (htmlAttributes.Keys.Contains("style"))
    //{
    //    if (!htmlAttributes["style"].ToString().Trim().Contains("width:"))
    //    {
    //        if (!htmlAttributes["style"].ToString().Trim().EndsWith(";"))
    //        {
    //            htmlAttributes["style"] += ";";
    //        }
    //        htmlAttributes["style"] += "width: 70%;";
    //    }
    //}
    //else
    //{
    //    htmlAttributes.Add("style", "width: 70%;");
    //}
    var metadata = ModelMetadata.FromStringExpression(propertyExpression, Html.ViewData);
}

<div class="@containerClass" style="margin-bottom: 15px;">
    @SharedTemplatesHelper.HorizontalLabel(ViewBag)
    @SharedTemplatesHelper.CreateHtmlObject(ViewBag, Html.Password(propertyExpression, null, htmlAttributes))
    @*@Html.Password(propertyExpression, null, htmlAttributes)*@
</div>
