<log4net>

  <root>
    <level value="INFO" />
    <!--<appender-ref ref="AdoNetAppender_Oracle" />-->
    <appender-ref ref="RollingFileAppender" />
    <!--<appender-ref ref="FileAppender" />-->
  </root>

  <!--<appender name="AdoNetAppender_Oracle" type="log4net.Appender.AdoNetAppender">
    <connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient" />
    <connectionString value="data source=dev;User ID=Logging;Password=XXYLogging" />
    <commandText value="INSERT INTO Log (Datetime,Thread,Log_Level,Logger,Message) VALUES (:log_date, :thread, :log_level, :logger, :message)" />
    <bufferSize value="128" />
    <parameter>
      <parameterName value=":log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value=":thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
  </appender>-->


  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="1000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="log-file.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <!--业务系统自定义日志Begin-->

  <!--登录系统日志-->
  <!--<logger name="SystemLoginLog" additivity="false">
    <level value="Info" />
    <appender-ref ref="SystemLoginLogFileAppender" />
  </logger>
  <appender name="SystemLoginLogFileAppender" type="log4net.Appender.FileAppender">
    <file value="logs/SystemLoginLog/SystemLoginLog.txt"/>
    <appendToFile value="true" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="1MB" />
    <rollingStyle  value= "Date "/>
    <datePattern  value= "yyyyMM"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>-->

  <!--模块访问日志-->
  <!--<logger name="ModuleVisitLog" additivity="false">
    <level value="Info" />
    <appender-ref ref="ModuleVisitLogFileAppender" />
  </logger>
  <appender name="ModuleVisitLogFileAppender" type="log4net.Appender.FileAppender">
    <file value="logs/ModuleVisitLog/ModuleVisitLog.txt"/>
    <appendToFile value="true" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="1MB" />
    <rollingStyle  value= "Date "/>
    <datePattern  value= "yyyyMM"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>-->

  <!--操作异常日志-->
  <!--<logger name="OperateExeptionLog" additivity="false">
    <level value="Info" />
    <appender-ref ref="OperateExeptionLogFileAppender" />
  </logger>
  <appender name="OperateExeptionLogFileAppender" type="log4net.Appender.FileAppender">
    <file value="logs/OperateExeptionLog/OperateExeptionLog.txt"/>
    <appendToFile value="true" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="1MB" />
    <rollingStyle  value= "Date "/>
    <datePattern  value= "yyyyMM"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>-->

  <!--业务操作日志-->
  <!--<logger name="BizOperateLog" additivity="false">
    <level value="Info" />
    <appender-ref ref="BizOperateLogFileAppender" />
  </logger>
  <appender name="BizOperateLogFileAppender" type="log4net.Appender.FileAppender">
    <file value="logs/BizOperateLog/BizOperateLog.txt"/>
    <appendToFile value="true" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="1MB" />
    <rollingStyle  value= "Date "/>
    <datePattern  value= "yyyyMM"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>-->

  <!--接口调用日志-->
  <!--<logger name="InterfaceCallLog" additivity="false">
    <level value="Info" />
    <appender-ref ref="InterfaceCallLogFileAppender" />
  </logger>
  <appender name="InterfaceCallLogFileAppender" type="log4net.Appender.FileAppender">
    <file value="logs/InterfaceCallLog/InterfaceCallLog.txt"/>
    <appendToFile value="true" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="1MB" />
    <rollingStyle  value= "Date "/>
    <datePattern  value= "yyyyMM"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>-->

  <!--越权访问日志-->
  <!--<logger name="NoPowerLog" additivity="false">
    <level value="Info" />
    <appender-ref ref="NoPowerLogFileAppender" />
  </logger>
  <appender name="NoPowerLogFileAppender" type="log4net.Appender.FileAppender">
    <file value="logs/NoPowerLog/NoPowerLog.txt"/>
    <appendToFile value="true" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="1MB" />
    <rollingStyle  value= "Date "/>
    <datePattern  value= "yyyyMM"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>-->

  <!--业务系统自定义日志End-->


</log4net>