<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IModule" type="WGX.Lean.IBiz.IModule, WGX.Lean.IBiz" />
  <alias alias="ModuleBiz" type="WGX.Lean.Biz.ModuleBiz, WGX.Lean.Biz" />

  <alias alias="ILog" type="WGX.Common.ILog, WGX.Common" />
  <alias alias="Logger" type="WGX.Common.Logger, WGX.Common" />

  <alias alias="ICurrentUser" type="WGX.Lean.IBiz.ICurrentUser, WGX.Lean.IBiz" />
  <alias alias="CurrentUserBiz" type="WGX.Lean.Biz.CurrentUserBiz, WGX.Lean.Biz" />

  <alias alias="IUser" type="WGX.Lean.IBiz.IUser, WGX.Lean.IBiz" />
  <alias alias="UserBiz" type="WGX.Lean.Biz.UserBiz, WGX.Lean.Biz" />

  <alias alias="IUserRole" type="WGX.Lean.IBiz.IUserRole, WGX.Lean.IBiz" />
  <alias alias="UserRoleBiz" type="WGX.Lean.Biz.UserRoleBiz, WGX.Lean.Biz" />

  <alias alias="ILenLevel" type="WGX.Lean.IBiz.ILenLevel, WGX.Lean.IBiz" />
  <alias alias="LevelBiz" type="WGX.Lean.Biz.LevelBiz, WGX.Lean.Biz" />

  <alias alias="IManagerComment" type="WGX.Lean.IBiz.IManagerComment, WGX.Lean.IBiz" />
  <alias alias="ManagerCommentBiz" type="WGX.Lean.Biz.ManagerCommentBiz, WGX.Lean.Biz" />

  <alias alias="ICommonComment" type="WGX.Lean.IBiz.ICommonComment, WGX.Lean.IBiz" />
  <alias alias="CommonCommentBiz" type="WGX.Lean.Biz.CommonCommentBiz, WGX.Lean.Biz" />

  <alias alias="IListCommonComment" type="WGX.Lean.IBiz.IListCommonComment, WGX.Lean.IBiz" />
  <alias alias="ListCommonCommentBiz" type="WGX.Lean.Biz.ListCommonCommentBiz, WGX.Lean.Biz" />

  <alias alias="IComment" type="WGX.Lean.IBiz.IComment, WGX.Lean.IBiz" />
  <alias alias="CommentBiz" type="WGX.Lean.Biz.CommentBiz, WGX.Lean.Biz" />
  
  <alias alias="IEnumDescriptionProvider" type="WGX.Common.IEnumDescriptionProvider, WGX.Common" />
  <alias alias="ILang" type="WGX.Common.ILang, WGX.Common" />
  <alias alias="ResLang" type="Lean.Lang, Lean" />

  <alias alias="ICreateModel" type="WGX.Lean.IBiz.ICreateModel,WGX.Lean.IBiz" />
  <alias alias="CreateModelBiz" type="WGX.Lean.Biz.CreateModelBiz, WGX.Lean.Biz" />
  
  <container>
    <register type="IModule" mapTo="ModuleBiz" />
    <register type="ILog" mapTo="Logger"  />
    <register type="ICurrentUser" mapTo="CurrentUserBiz"  />
    <register type="IUser" mapTo="UserBiz" />
    <register type="IUserRole" mapTo="UserRoleBiz" />
    <register type="ILenLevel" mapTo="LevelBiz" />
    <register type="IManagerComment" mapTo="ManagerCommentBiz" />
    <register type="ICommonComment" mapTo="CommonCommentBiz" />
    <register type="IListCommonComment" mapTo="ListCommonCommentBiz" />
    <register type="IComment" mapTo="CommentBiz" />
    <register type="ILang" mapTo="ResLang" />
    <register type="IEnumDescriptionProvider" mapTo="ResLang" />
    <register type="ICreateModel" mapTo="CreateModelBiz" />
  </container>
</unity>